Repository IBM/ITBench-Scenarios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dengy2016, @yana1205, @yuji-watanabe-jp, @Red-GV, @rohanarora

feat: update astronomy shop application to v2
  sre/docs/AnsibleJumpstart.md
  sre/docs/incident_scenarios.md
  sre/group_vars/sample_applications.yaml
  sre/roles/fault_injection/tasks/enable_targeted_load.yaml
  sre/roles/fault_injection/tasks/run_native.yaml
  sre/roles/incident_1/vars/main.yaml
  sre/roles/incident_23/vars/main.yaml
  sre/roles/incident_26/vars/main.yaml
  sre/roles/incident_27/vars/main.yaml
  sre/roles/incident_3/vars/main.yaml
  sre/roles/incident_37/vars/main.yaml
  sre/roles/observability_tools/templates/prometheus-alerting-rules.j2
  sre/roles/observability_tools/templates/prometheus-scrape-configs.j2
  sre/roles/sample_applications/tasks/install_astronomy_shop.yaml
Owners: @Red-GV, @rohanarora

bump: update checkout service Dockerfile
  sre/tools/astronomy-shop-checkout-service/Dockerfile
Owners: @Red-GV, @rohanarora

bump: update observability and fault tools to latest
  sre/group_vars/fault_injection.yaml
  sre/group_vars/observability_tools.yaml
  sre/roles/fault_injection/tasks/install_chaos_mesh.yaml
  sre/roles/observability_tools/tasks/install_opentelemetry.yaml
Owners: @Red-GV, @rohanarora

bump: update SRE tools to v0.0.3
  .github/workflows/sre-build-push-tools.yaml
  sre/roles/fault_injection/tasks/run_unsupported_image.yaml
  sre/tools/kubernetes-topology-mapper/charts/kubernetes-topology-mapper/templates/deployment.yaml
Owners: @dengy2016, @Red-GV, @rohanarora

chore: update base image of topology mapper to minimal ubi9 image
  sre/tools/kubernetes-topology-mapper/Dockerfile
Owners: @Red-GV, @rohanarora

feat: add pull request status check for sre ansible playbooks
  .github/workflows/sre-ansible-lint-main.yaml
  .github/workflows/sre-ansible-lint-remote-cluster.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  requirements-dev.txt
Owners: @dengy2016

bump: update topology mapper dependencies
  sre/tools/kubernetes-topology-mapper/requirements.txt
Owners: @Red-GV, @rohanarora

chore: disable chaos-coredns
  sre/roles/fault_injection/tasks/install_chaos_mesh.yaml
Owners: @Red-GV, @rohanarora

chore: remove enable targeted load fault
  sre/docs/AnsibleJumpstart.md
  sre/group_vars/fault_injection.yaml
  sre/group_vars/sample_applications.yaml
  sre/roles/fault_injection/tasks/enable_targeted_load.yaml
  sre/roles/fault_injection/tasks/main.yaml
  sre/roles/incident_1/tasks/main.yaml
  sre/roles/incident_23/tasks/main.yaml
  sre/roles/incident_23/vars/main.yaml
  sre/roles/incident_27/tasks/main.yaml
  sre/roles/incident_3/tasks/main.yaml
  sre/roles/observability_tools/templates/prometheus-alerting-rules.j2
Owners: @Red-GV, @rohanarora

.github/CODEOWNERS:

* @dengy2016
ciso/ @yana1205 @yuji-watanabe-jp
sre/ @Red-GV @rohanarora
finops/ @Red-GV
